.cardBar {
    background-color: rgba(187, 187, 187, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 6px #50FBDF;
    width: 20%;
    height: 50vh;
    margin-top: 20px;
    padding: 20px 20px 0px 20px;
}

.profile-img {
    padding: 5px;
    width: 100px;
    height: auto;
}

.topContainer {
    height: 70vh;
}

.copyright-info {
    position: ;
    color: #bbb;
    height: 10vh;
}

@media only screen and (max-width: 1200px) {
    .cardBar {
        width: 70%;
    }
}

@media only screen and (max-width: 380px) {
    .cardBar {
        height: 60vh;
        width: 80%;
    }
}