.cardBar {
    position: relative;
    background-color: rgba(187, 187, 187, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 6px #50FBDF;
    width: 20%;
    height: 50vh;
    margin-top: 20px;
    padding: 20px 20px 0px 20px;
}

.lgt-btn {
    width: 100%;
    position: absolute;
    bottom: -45px;
    left: 0;
}

.topContainer {
    height: 70vh;
}

.copyright-info {
    margin-top: 20px;
    color: #bbb;
}

.card {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) {
    .cardBar {
        width: 70%;
    }
}

@media only screen and (max-width: 380px) {
    .cardBar {
        height: 60vh;
        width: 80%;
    }
}