#form-div {
  background-color: #f1f1f1;
  padding: 10px 20px 20px 20px;
  width: 70%;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 4px 4px 8px 2px rgba( 53, 126, 221, 0.2 );
}

@media only screen and (max-width: 700px) {
  #form-div {
    width: 90%;
  }
}

.montform .feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0.1);  
}

.montform .feedback-input:focus{
  background: #fff;
  border: 3px solid #3498db;
  color: #357edd;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.montform  #name{
  background-image: url(../../Images/address-book.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
  
.montform  #name:focus{
  background-image: url(../../Images/address-book.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
  
.montform  #email{
  background-image: url(../../Images/mail.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
  
.montform  #email:focus{
  background-image: url(../../Images/mail.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
  
.montform  #comment{
  background-image: url(../../Images/pencil.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
  
.montform  textarea {
  width: 100%;
  line-height: 150%;
  resize:vertical;
}

.montform  input:hover, .montform  textarea:hover,
.montform  input:focus, .montform  textarea:focus {
  background-color:#e6e6e6;
}

.button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  border: #fbfbfb solid 1px;
  cursor:pointer;
  background-color: #357edd;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
}

.add-btn {
  position: absolute;
  bottom: 20;
  right: 5;
}

* {box-sizing: border-box}

.container {
  padding-right: 0px 16px 16px 16px;
  width: 60%;
}

input[type=text], input[type=number], input[type=datetime-local] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=number]:focus input[type=datetime-local]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

@media only screen and (max-width: 700px) {
  .container {
      width: 90%;
  }
}

input.error {
  border: 1px solid #EADAE4;
}

.error {
  color:#db2269;
  font-size: 0.625em;
  display: relative;
}
