.head1 {
    height: 50px;
}
.groot {
    background-image: url(../../Images/optionBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.foot {
    position: absolute;
    bottom: 0;
}