* {box-sizing: border-box}

.container {
  padding: 0px 16px 16px 16px;
  width: 60%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0px 22px 0px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.loginbtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.register {
  padding-top: 16px;
  background-color: #f1f1f1;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .container {
      width: 90%;
  }
}
