.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.text {
  font-family: 'Yeon Sung', cursive, 'Courier New', Courier, monospace;
  font-size: 1.5vw;
}

@media only screen and (max-width: 700px) {
  .text {
    font-size: 5vw;
  }
}

.dashboard {
  height: 100vh;
  color: white;
  background-image: linear-gradient(to right top, #051937, #0a244e, #142f67, #223a80, #334599);
}

.bookBtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.change-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  border: none;
  background-color: white;
}

.change-btn1 {
  position: absolute;
  top: 0px;
  left: 8px;
  border-radius: 50%;
  border: none;
  background-color: white;
}

@media only screen and (min-width: 1200px) {
  .bicycleImage {
    height: 180px;
    width:  180px;
  }
}
